@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

#root {
  text-align: center;
  margin: 1em auto;
  padding: 0;
  width: 90%;
  max-width: 1585px;
}
